:root {
  --primary-color: #1a1a2e;
  --secondary-color: #65131a;
  --secondary-color-sheer: #cb953173;
  --accent-color: #cb9531;
  --secondary-accent-color: #3a86ff;
  --shadow-preset: 0 2px 4px rgba(0, 0, 0, 0.1), 0 6px 10px rgba(0, 0, 0, 0.08);
}

body {
  margin: 0;
  padding: 0;
}

#page {
  margin: 0 30px;
}

#main-image-container {
  display: flex;
  justify-content: center;
}

#main-image {
  max-height: 300px;
  width: 100%;
  object-fit: cover;
}

/* FEATURED SECTION */

#featured {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: stretch;
  padding: 15px;
  margin: 10px;
  border-radius: 4px;
}

#featured-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 3;
}

#featured-title {
  text-align: center;
  margin-bottom: 10px;
}

/* MYSTERY MONSTER */

#mystery-monster {
  flex: 1 1 250px;
  max-width: 250px;
  min-width: 250px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--secondary-color-sheer);
  padding: 15px;
  border-radius: 8px;
  box-shadow: var(--shadow-preset);
}

#mystery-monster-container {
  text-align: center;
}

#mystery-monster-container img {
  border-radius: 4px;
  height: 200px;
  width: 200px;
}

/* RESPONSIVE */

@media screen and (max-width: 768px) {
  #featured {
    flex-direction: row;
    align-items: center;
  }

  #featured-blocks {
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
  }

  .home-block,
  #mystery-monster {
    flex: 1 1 100%;
    max-width: none;
    min-width: 0;
  }
}