#page {
    margin: 0 90px;
}

/* Structure */
#yugidex-header {
    padding-left: 20px;
    background-color: var(--secondary-color);
    padding: 8px;
    margin: 0;
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    color: var(--accent-color);
}

#monsters {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px;
}

.yugi-block {
    position: relative;
    display: inline-block;
    max-width: 200px;
    height: 300px;
    margin: 8px;
    box-shadow: var(--shadow-preset);

    }

.yugi-number {
    position: absolute;
    top: 2px;
    right: 10px;
    font-size: 16px;
    font-weight: bold;
}


/* Media Queries */
@media screen and (min-width: 768px) {
    .columns {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center stretch;
        justify-content: flex-start;
    }

    .one {
        flex: 1;
    }

    .three {
        flex: 3;
    }

    #monsters {
        justify-content: space-between;
    }
}
