.discussion-post {
    background-color: white;
    padding: 12px;
    border-radius: 6px;
    box-shadow: var(--shadow-preset);
    cursor: pointer;
    width: 100%;
    margin: 0 10px;   
  }
  
  .discussion-title {
    margin-bottom: 6px;
    color: #1a1a1a;
  }
  
  .discussion-content {
    color: #444;
  }