header {
    background: linear-gradient(var(--primary-color), var(--primary-color), #2d2d51);
    text-align: center;
    padding: 10px;
}

header h1 {
    padding: 20px;
    color: white;
    -webkit-text-stroke: 0.5px black;
}