.toggle-nav div {
    width: 25px;
    height: 2px;
    background-color: white;
    margin: 6px 8px;
}

.toggle-nav {
    padding: 6px 0;
}

#header-nav {
    width: 100%;
}

@media screen and (min-width: 768px) {
    #header-nav {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0 10px;
      }
    
      .toggle-nav {
        display: none;
      }
    
      .nav-items {
        display: flex !important;
        flex-direction: row;
        align-items: center;
        width: auto;
        gap: 30px;
      }
    
      .nav-items a {
        background-color: transparent;
        padding: 8px 12px;
        margin: 0;
        width: auto;
      }
    
      .nav-items a:hover {
        background-color: #881922;
        color: var(--accent-color);
      }
}
